#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
#header div {
  height: 100% !important;
}
#header .nav-menu ul li a {
  font-size: 17px !important;
}
.flex {
  display: flex;
  align-items: center;
}
body {
  padding-top: 60px;
}
.prebody {
  margin-bottom: 25px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f8fe;
}
.prebody h1 {
  color: #fff;
}
.prebody .box {
  width: 100%;
  max-width: 1140px;
}
.prebody .box .text {
  font-size: 36px;
  font-weight: bold;
}
.prebody .box .icon {
  width: 80px;
  height: 100px;
  margin-right: 30px;
}
.prebody .box .name {
  font-size: 100px;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 10px #38bdf8;
}
.container {
  max-width: unset;
}
.body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  margin: 0 auto;
}
.panel-group {
  margin-top: 20px;
}
#footer {
  background-color: #f2f8fe;
  height: 10vh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
#footer .box {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
#footer .box .left {
  max-width: 30vw;
}
#footer .box .icon-name {
  margin-bottom: 10px;
}
#footer .box .icon {
  width: 40px;
  height: 50px;
  margin-right: 10px;
}
#footer .box .name {
  font-size: 30px;
  color: #38bdf8;
}
#footer .box .right .item {
  margin-bottom: 10px;
}
#footer .box .right .item i {
  position: relative;
  top: 2px;
  width: 30px;
  text-align: center;
}
.project-snapshot .row {
  margin: 0 !important;
}
.avatar {
  padding: 0 !important;
  box-shadow: 0 0 10px 0 #00000020;
}
.prebody {
  position: relative;
  background: conic-gradient(
      from -45deg at var(--xPoint) var(--yPoint),
      hsla(170deg, 100%, 70%, 0.7),
      transparent 50%,
      hsla(219deg, 90%, 80%, 0.5) 100%
    ),
    conic-gradient(
      from 135deg at var(--x2Point) var(--y2Point),
      hsla(170deg, 100%, 70%, 0.7),
      transparent 50%,
      hsla(219deg, 90%, 80%, 0.5) 100%
    ),
    linear-gradient(-45deg, #060d5e, #002268);
  animation: pointMove 2.5s infinite alternate linear;
  overflow: hidden;
}
.pictures {
  margin-bottom: 50px;
  column-count: 5;
  column-gap: 20px;
}
.pictures > img {
  width: 100%;
  height: 200px;
  background-color: #d9edf7;
  margin: 0;
  margin-bottom: 20px;
}

.pictures > img.h1 {
  height: 150px;
}
.pictures > img.h3 {
  height: 250px;
}
.pictures > img.h4 {
  height: 350px;
}
.container {
  padding: 0 !important;
}
.big-title {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 40px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #0f7a9c;
}
.mid-title {
  width: 100%;
  text-align: center;
  font-size: 27px;
  color: #112345;
}
.lz-card {
  width: 100%;
  aspect-ratio: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.lz-card .item {
  position: relative;
  left: 20px;
  width: 400px;
  height: fit-content;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
.lz-card .item img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}
.lz-card .item .title {
  font-size: 27px;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
/* 动画 */
@property --xPoint {
  syntax: "<length>";
  inherits: false;
  initial-value: 400px;
}
@property --yPoint {
  syntax: "<length>";
  inherits: false;
  initial-value: 300px;
}
@property --x2Point {
  syntax: "<length>";
  inherits: false;
  initial-value: 500px;
}
@property --y2Point {
  syntax: "<length>";
  inherits: false;
  initial-value: 300px;
}

@keyframes scale {
  50%,
  100% {
    transform: rotate(225deg) scale(0);
  }
}

@keyframes scaleBottom {
  50%,
  100% {
    transform: scale(0);
  }
}

@keyframes pointMove {
  0% {
    --xPoint: 400px;
    --yPoint: 300px;
    --x2Point: 900px;
    --y2Point: 0px;
  }
  100% {
    --xPoint: 100px;
    --yPoint: 0;
    --x2Point: 1200px;
    --y2Point: 300px;
  }
}
@media screen and (max-width: 600px) {
  .prebody .box {
    padding-left: 30px;
  }
  .prebody .box .text {
    font-size: 32px;
  }
  .prebody .box .icon {
    width: 60px;
    height: 75px;
  }
  .prebody .box .name {
    font-size: 48px;
  }
  .pictures {
    column-count: 1;
  }
  body > div > div > div > ul > li {
    width: 36vw !important;
    height: 36vw !important;
    margin: 15px;
    margin-bottom: 80px;
  }
  #footer {
    padding-left: 10px;
  }
  #footer .left {
    display: none;
  }
}
