---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign team_order = "pi,co-lead,phd,undergrad,collaborator,mascot" | split: "," %}
{% assign members = site.members | sort: "name" %}
{% for role in team_order %}
  {% assign role_members = members | where: "role", role %}
  {% if role_members.size > 0 %}
    <h2>{% if role == "pi" %}Principal Investigator
        {% elsif role == "co-lead" %}Co-Lead
        {% elsif role == "phd" %}PhD Students
        {% elsif role == "undergrad" %}Undergraduate Students
        {% elsif role == "collaborator" %}Collaborators
        {% elsif role == "mascot" %}Lab Mascot
        {% endif %}</h2>
    <div class="team-members">
    {% for member in role_members %}
      {% include team-member.html member=member %}
    {% endfor %}
    </div>
  {% endif %}
{% endfor %}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture search -%}
  research/?search={% for aliases in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<p class="center">
  <a href="{{ search | relative_url }}">
    Search for {{ page.name | default: page.title }}'s papers on the Research page
  </a>
</p>

{% capture search -%}
  blog/?search={{ page.name }}
{%- endcapture %}

<!--
<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->